version: '3.8'

services:
  airshare:
    image: jaybel/airshare:latest
    ports:
      - "4111:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
