version: '3.8'

services:
  airshare:
    image: ${DOCKER_IMAGE_NAME:-airshare:latest}
    init: true
    build: .
    ports:
      - "4111:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
