version: "3.8"

services:
  airshare:
    image: ghcr.io/jaberio/airshare:v1.0.0
    container_name: airshare
    restart: unless-stopped
    ports:
      - "4111:3000"
    environment:
      PORT: 3000
      NODE_ENV: production

    networks:
      - airshare_net

networks:
  airshare_net:
    driver: bridge
